# Library

In [84]:
import pandas as pd
import numpy as np
import seaborn as sns
import tldextract
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Read Data

In [85]:
PATH = r"C:\Users\dommy\OneDrive\Documenti\GSoC - Final\GSoC\CSV\boards.csv"

In [86]:
df = pd.read_csv(PATH)
df

,id,site_id,name,url,db_created_on,db_updated_on
0,212,1019,Tor,http://dreadditevelidot.onion/d/Tor,2020-12-19 20:09:12.398677,2020-12-19 20:09:12.398677
1,91,1019,cryptomining,http://dreadditevelidot.onion/d/cryptomining,2020-12-19 20:09:05.216458,2020-12-19 20:09:05.216458
2,94,1019,CannabisCollective,http://dreadditevelidot.onion/d/CannabisCollec...,2020-12-19 20:09:05.460266,2020-12-19 20:09:05.460266
3,100,1019,DNMSourcing,http://dreadditevelidot.onion/d/DNMSourcing?p=71,2020-12-19 20:09:05.654273,2020-12-19 20:09:05.654273
4,9,1019,murderhomelesspeople,http://dreadditevelidot.onion/d/murderhomeless...,2020-12-19 20:09:05.735205,2020-12-19 20:09:05.735205
...,...,...,...,...,...,...
441,393,1019,VendorShitList,http://dreadditevelidot.onion/d/VendorShitList,2020-12-19 20:09:18.115647,2020-12-19 20:09:18.115647
442,169,1019,VendorReviews,http://dreadditevelidot.onion/d/VendorReviews,2020-12-19 20:09:18.119396,2020-12-19 20:09:18.119396
443,306,1019,TheFamilyGuy,http://dreadditevelidot.onion/d/TheFamilyGuy,2020-12-19 20:09:18.127341,2020-12-19 20:09:18.127341
444,329,1019,CanadaHQ,http://dreadditevelidot.onion/d/CanadaHQ,2020-12-19 20:09:18.131444,2020-12-19 20:09:18.131444
445,394,1019,CannaCreations,http://dreadditevelidot.onion/d/CannaCreations,2020-12-19 20:09:18.135778,2020-12-19 20:09:18.135778

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             446 non-null    int64
 1   site_id        446 non-null    int64
 2   name           446 non-null    object
 3   url            446 non-null    object
 4   db_created_on  446 non-null    object
 5   db_updated_on  446 non-null    object
dtypes: int64(2), object(4)
memory usage: 21.0+ KB

In [88]:
df.describe()

               id  site_id
count  446.000000    446.0
mean   223.500000   1019.0
std    128.893367      0.0
min      1.000000   1019.0
25%    112.250000   1019.0
50%    223.500000   1019.0
75%    334.750000   1019.0
max    446.000000   1019.0

In [89]:
df.describe(include=[object])

,name,url,db_created_on,db_updated_on
count,446,446,446,446
unique,446,446,446,446
top,Tor,http://dreadditevelidot.onion/d/Tor,2020-12-19 20:09:12.398677,2020-12-19 20:09:12.398677
freq,1,1,1,1

In [90]:
df.nunique()

id               446
site_id            1
name             446
url              446
db_created_on    446
db_updated_on    446
dtype: int64

In [91]:
df.isnull().sum()

id               0
site_id          0
name             0
url              0
db_created_on    0
db_updated_on    0
dtype: int64

In [92]:
df.duplicated().sum()

0

In [93]:
df.duplicated(subset=['name']).sum()

0

In [94]:
df['db_created_on'] = pd.to_datetime(df['db_created_on'], format='%Y-%m-%d %H:%M:%S.%f').dt.strftime('%Y-%m-%d')
df['db_updated_on'] = pd.to_datetime(df['db_updated_on'], format='%Y-%m-%d %H:%M:%S.%f').dt.strftime('%Y-%m-%d')

In [95]:
df.head()

,id,site_id,name,url,db_created_on,db_updated_on
0,212,1019,Tor,http://dreadditevelidot.onion/d/Tor,2020-12-19,2020-12-19
1,91,1019,cryptomining,http://dreadditevelidot.onion/d/cryptomining,2020-12-19,2020-12-19
2,94,1019,CannabisCollective,http://dreadditevelidot.onion/d/CannabisCollec...,2020-12-19,2020-12-19
3,100,1019,DNMSourcing,http://dreadditevelidot.onion/d/DNMSourcing?p=71,2020-12-19,2020-12-19
4,9,1019,murderhomelesspeople,http://dreadditevelidot.onion/d/murderhomeless...,2020-12-19,2020-12-19

In [96]:
df[df['db_created_on'] == '2020-12-19']

,id,site_id,name,url,db_created_on,db_updated_on
0,212,1019,Tor,http://dreadditevelidot.onion/d/Tor,2020-12-19,2020-12-19
1,91,1019,cryptomining,http://dreadditevelidot.onion/d/cryptomining,2020-12-19,2020-12-19
2,94,1019,CannabisCollective,http://dreadditevelidot.onion/d/CannabisCollec...,2020-12-19,2020-12-19
3,100,1019,DNMSourcing,http://dreadditevelidot.onion/d/DNMSourcing?p=71,2020-12-19,2020-12-19
4,9,1019,murderhomelesspeople,http://dreadditevelidot.onion/d/murderhomeless...,2020-12-19,2020-12-19
...,...,...,...,...,...,...
441,393,1019,VendorShitList,http://dreadditevelidot.onion/d/VendorShitList,2020-12-19,2020-12-19
442,169,1019,VendorReviews,http://dreadditevelidot.onion/d/VendorReviews,2020-12-19,2020-12-19
443,306,1019,TheFamilyGuy,http://dreadditevelidot.onion/d/TheFamilyGuy,2020-12-19,2020-12-19
444,329,1019,CanadaHQ,http://dreadditevelidot.onion/d/CanadaHQ,2020-12-19,2020-12-19
445,394,1019,CannaCreations,http://dreadditevelidot.onion/d/CannaCreations,2020-12-19,2020-12-19

In [97]:
df[df['db_updated_on'] == '2020-12-19']

,id,site_id,name,url,db_created_on,db_updated_on
0,212,1019,Tor,http://dreadditevelidot.onion/d/Tor,2020-12-19,2020-12-19
1,91,1019,cryptomining,http://dreadditevelidot.onion/d/cryptomining,2020-12-19,2020-12-19
2,94,1019,CannabisCollective,http://dreadditevelidot.onion/d/CannabisCollec...,2020-12-19,2020-12-19
3,100,1019,DNMSourcing,http://dreadditevelidot.onion/d/DNMSourcing?p=71,2020-12-19,2020-12-19
4,9,1019,murderhomelesspeople,http://dreadditevelidot.onion/d/murderhomeless...,2020-12-19,2020-12-19
...,...,...,...,...,...,...
441,393,1019,VendorShitList,http://dreadditevelidot.onion/d/VendorShitList,2020-12-19,2020-12-19
442,169,1019,VendorReviews,http://dreadditevelidot.onion/d/VendorReviews,2020-12-19,2020-12-19
443,306,1019,TheFamilyGuy,http://dreadditevelidot.onion/d/TheFamilyGuy,2020-12-19,2020-12-19
444,329,1019,CanadaHQ,http://dreadditevelidot.onion/d/CanadaHQ,2020-12-19,2020-12-19
445,394,1019,CannaCreations,http://dreadditevelidot.onion/d/CannaCreations,2020-12-19,2020-12-19

In [98]:
df[df['db_created_on'] == df['db_updated_on']][['db_created_on', 'db_updated_on']]

    db_created_on db_updated_on
0      2020-12-19    2020-12-19
1      2020-12-19    2020-12-19
2      2020-12-19    2020-12-19
3      2020-12-19    2020-12-19
4      2020-12-19    2020-12-19
..            ...           ...
441    2020-12-19    2020-12-19
442    2020-12-19    2020-12-19
443    2020-12-19    2020-12-19
444    2020-12-19    2020-12-19
445    2020-12-19    2020-12-19

[446 rows x 2 columns]

# Wrangling Data

In [99]:
df.drop(columns=['db_created_on', 'db_updated_on', 'site_id'], inplace=True)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446 entries, 0 to 445
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      446 non-null    int64
 1   name    446 non-null    object
 2   url     446 non-null    object
dtypes: int64(1), object(2)
memory usage: 10.6+ KB

In [101]:
df.head()

,id,name,url
0,212,Tor,http://dreadditevelidot.onion/d/Tor
1,91,cryptomining,http://dreadditevelidot.onion/d/cryptomining
2,94,CannabisCollective,http://dreadditevelidot.onion/d/CannabisCollec...
3,100,DNMSourcing,http://dreadditevelidot.onion/d/DNMSourcing?p=71
4,9,murderhomelesspeople,http://dreadditevelidot.onion/d/murderhomeless...

In [102]:
df['url'] = df['url'].str.extract(r'/d/([^/?]+)')

In [103]:
df

      id                  name                   url
0    212                   Tor                   Tor
1     91          cryptomining          cryptomining
2     94    CannabisCollective    CannabisCollective
3    100           DNMSourcing           DNMSourcing
4      9  murderhomelesspeople  murderhomelesspeople
..   ...                   ...                   ...
441  393        VendorShitList        VendorShitList
442  169         VendorReviews         VendorReviews
443  306          TheFamilyGuy          TheFamilyGuy
444  329              CanadaHQ              CanadaHQ
445  394        CannaCreations        CannaCreations

[446 rows x 3 columns]

In [104]:
df[df['url'] == df['name']]

      id                  name                   url
0    212                   Tor                   Tor
1     91          cryptomining          cryptomining
2     94    CannabisCollective    CannabisCollective
3    100           DNMSourcing           DNMSourcing
4      9  murderhomelesspeople  murderhomelesspeople
..   ...                   ...                   ...
441  393        VendorShitList        VendorShitList
442  169         VendorReviews         VendorReviews
443  306          TheFamilyGuy          TheFamilyGuy
444  329              CanadaHQ              CanadaHQ
445  394        CannaCreations        CannaCreations

[446 rows x 3 columns]

In [105]:
df.drop(columns=['url'], inplace=True)

In [106]:
df.head()

    id                  name
0  212                   Tor
1   91          cryptomining
2   94    CannabisCollective
3  100           DNMSourcing
4    9  murderhomelesspeople

In [107]:
df.nunique()

id      446
name    446
dtype: int64